@page "{id}"
@model RecipeApp.Pages.RateModel
@{
}
<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />

<form method="post">
    <div id="rateIt"></div>
    <div>
        <button type="submit" class="btn btn-primary" id="getRating">Rate it!</button>
        <input name="_rate" id="rating"/>
    </div>
</form>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>

<script type="text/javascript">
    $(function () {
        var $rateYo = $("#rateIt").rateYo({
            rating: 0,
            fullStar: true,

            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });

        // Optional section
        $("#getRating").click(function () {

            // Get rating
            var rating = $rateYo.rateYo("rating");

            window.alert("You give " + rating + " rate!");
        });
    });
</script>